/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Login Container */
.login-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 310px;
    border-top: 5px solid #6a0dad;
    box-shadow: rgb(131, 126, 126) 20 20 10 10;
}

h2 {
    margin-bottom: 15px;
    color: #6a0dad;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    color: #5c0cac;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #6a0dad;
    border-radius: 5px;
}

button {
    width: 100%;
    background-color: #6a0dad;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #5c0cac;
}

/* Error Message */
#error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}
